<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019151961540-sg2ov1ojrit17ojsjp36vfgj47p8biis.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019151961540-sg2ov1ojrit17ojsjp36vfgj47p8biis</string>
	<key>API_KEY</key>
	<string>AIzaSyACQpS1f4eLMp8NmHL9hZR0YbO8ZqxE7kI</string>
	<key>GCM_SENDER_ID</key>
	<string>1019151961540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trivietjsc.vcms</string>
	<key>PROJECT_ID</key>
	<string>e-vegas</string>
	<key>STORAGE_BUCKET</key>
	<string>e-vegas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019151961540:ios:e5d9bbb1e5555bf273e891</string>
</dict>
</plist>